<div>
    <ul>
        <li>Clock in time: 2022-03-17 10:00:02 AM</li>
        <li>Clock out time: 2022-03-17 1:00:33 PM</li>
        <li>Clock in time: 2022-03-18 3:00:25 PM</li>
        <li>Clock out time: 2022-03-18 04:00:36 PM</li>
        <li>clock in time:  2022-03-19 06:00:45 PM</li>
        <li>Clock Out time: 2022-03-19 08:00:51 PM </li>
    </ul>
</div>